<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardImageMapper">
	<insert id="insert"
		parameterType="com.example.board.dto.BoardImageDTO">
		INSERT INTO tb_board_image (
		board_idx, original_name, stored_name, file_size
		)
		VALUES (
		#{boardIdx}, #{originalName}, #{storedName}, #{fileSize}
		)
	</insert>

	<select id="findByBoardIdx"
		resultType="com.example.board.dto.BoardImageDTO">
		SELECT 
			image_idx AS imageIdx,
			board_idx AS boardIdx,
			original_name AS originalName,
			stored_name AS storedName,
			file_size AS fileSize,
			created_at AS createdAt
		FROM tb_board_image
		WHERE board_idx = #{boardIdx}
	</select>

</mapper>